body{
    background-color: green;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-bottom: 20px;
}

.container>div{
    background-color: yellow;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

#button {
    color: white;
    background-color: blue;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

#button:hover {
    background-color: lightseagreen;
    transition: 0.3s all;
}